:root {
  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);
  --backgroundGradientFrom: hsl(214, 47%, 23%);
  --backgroundGradientTo: hsl(237, 49%, 15%);
  --rockGradientFrom: hsl(349, 71%, 52%);
  --rockGradientTo: hsl(349, 70%, 56%);
  --paperGradientFrom: hsl(230, 89%, 62%);
  --paperGradientTo: hsl(230, 89%, 65%);
  --scissorsGradientFrom: hsl(39, 89%, 49%);
  --scissorsGradientTo: hsl(40, 84%, 53%);
  --white: hsl(0, 0%, 100%);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 11;
}

footer > button {
  margin: 0 0 20px 0;
  width: 80px;
}

@media only screen and (min-width: 600px) {
  footer {
    justify-content: flex-end;
  }

  footer > button {
    margin: 0 20px 20px 0;
    width: 100px;
  }
}
