@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  background: linear-gradient(var(--backgroundGradientFrom), var(--backgroundGradientTo));
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
